#cabeceraweb {background-color: blue;}
#navegacionprincipal {background-color: red;}
#barralateral {background-color: lightgreen;}
#contenidoprincipal {background-color: purple;}
#pieprincipal {background-color: yellow;}